/* chart */
#chart { position:absolute; width:100%; height:100%; }
#chart>div { position:absolute; color: #fff; font-size: 1.75em; }
#chartGraph { position:absolute; right: 20px; top: 20px; width: 780px; height: 440px; border-left: 4px solid #fff; border-bottom: 4px solid #fff; }
#chartCarpet{position:absolute;width:100%;height:100%;}
#chartYT { left: 0; top: 180px; width: 40px; text-align: right; }
#chartYH { left: 0; top: 20px; width: 40px; text-align: right; }
#chartYL { left: 0; top: 420px;width: 40px; text-align: right; }
#chartXT { left: 400px; top: 465px;}
#chartXL { left: 60px; top: 465px; }
#chartXH { right: 20px; top: 465px; }
/*  */
/* gameIntro */
#gameIntroContent { margin: 20px 20px 0 20px; font-size: 1.75em; color: #fff;}
#gameIntroBar { position:absolute; width: 100%; bottom: 20px; }
#gameIntroBar button { width: 60px; height: 60px; border: none; background: none; cursor: pointer;}
#gameIntroBar button:first-child { background: url('../images/menu_btn_pb.png') no-repeat; background-size: contain; margin-left: 20px; }
#gameIntroBar button:last-child { background: url('../images/menu_btn_pn.png') no-repeat; background-size: contain; float:right; margin-right: 20px; }